[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.6"

[dev-packages]

[packages]
Django = "*"
"autopep8" = "*"
whitenoise = "*"
gunicorn = "*"
djangorestframework = "*"
django-filter = "*"
PyMySQL = "*"
setuptools = "*"
mysqlclient = "*"
dj-database-url = "*"
